<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="./css/styleall.css" /> -->
    <link rel="stylesheet" href="../css/person.css" />
    <link rel="stylesheet" href="../css/styleall.css" />
    <link rel="stylesheet" href="../css/campaign.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--Add this-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <!--Add this-->
    <!--    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Bloodlife</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>
      <div class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Blood bank</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Nutrition</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Testimonials</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Enroll form</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Person</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Login</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <!-- Top navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Brand -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                      alt="Image placeholder"
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    />
                  </span>
                  <% if(event.length > 0){ %>
                    <% for(var i = 0;i < 1; i++){ %>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm font-weight-bold"><%- event[i].bdname %></span>
                  </div>
                  <% } %>
                  <% } %>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header -->
      <div
        class="header pb-8 pt-5 pt-lg-8 align-items-center"
        style="
          min-height: 850px;
          background-image: url(../img/blood.png);
          background-size: cover;
          background-position: center top;
        "
      >
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <% if(event.length > 0){ %>
                <% for(var i = 0;i < 1; i++){ %>
              <h1 class="display-2 text-white">Hello <%- event[i].bdname %></h1>
              <% } %>
              <% } %>
              <br>
            </div>
          </div>
        </div>
        <div class="container-fluid mb--7">
          <div class="row">
            <div class="col-xl-4 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="#">
                        <img
                          src="https://bootdey.com/img/Content/avatar/avatar7.png"
                          class="rounded-circle"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <div
                  class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
                >
                  <div class="d-flex justify-content-between">
                    <a id="btn2" href="http://localhost:3000/campaign/event" class="btn btn-sm btn-info mr-4"
                      >Manager Event</a
                    >
                    <a
                      id="btn4"
                      href="#"
                      class="btn btn-sm btn-default float-right"
                      >Add Event</a
                    >
                  </div>
                </div>

                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div
                        class="card-profile-stats d-flex justify-content-center mt-md-5"
                      ></div>
                    </div>
                  </div>
                  <% if(event.length > 0){ %>
                    <% for(var i = 0;i < 1; i++){ %>
                  <div class="text-center">
                    <h3><%- event[i].bdname %><span class="font-weight-light"> Cute</span></h3>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>Solution
                      Manager - Creative Tim Officer
                    </div>
                    <!-- <div>
                    <i class="ni education_hat mr-2"></i>University of Computer Science
                  </div>
                  <hr class="my-4">
                  <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                  <a href="#">Show more</a> -->
                  </div>
                  <% } %>  
                  <% } %>  
                </div>
              </div>
            </div>
            <div id="content" class="col-xl-8" style="display: block">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <!--               
              <button id="open" type="submit" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="col-8">
                <div id="requestup" >
                 
                </div>
                <button id="close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->

                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Manager Event</h3>
                    </div>
                    
                  </div>
                  <br>
                  <div id="requestmanager"></div>
                </div>
                <div class="card-body">
                  <h6 class="heading-small text-muted mb-4">
                    Event information
                  </h6>
                  <div class="pl-lg-4">
                 
                    <!-- Address -->
<!-- 
                    <form onsubmit="return update()">
                      <div id="div">
                        <tr id="tr">
                          <td></td>
                        </tr>
                        <div class="msg"></div>
                      </div>
                      <table></table>
                    </form> -->
                
                      <!-- <table border="1" width="100%">
                      <tr>
                      <th>Name</th>
                      <th>Open Time</th>
                      <th> Start</th>
                      <th> End </th>
                      <th> addr </th>
                      <th> number </th>
                      </tr>
                      <% if(event.length > 0){ %>
                        <% for(var i = 0;i < event.length; i++){ %>
                          <tr>
                            <td> <%- event[i].cname %></td>
                            <td> <%- event[i].open_time %></td>
                            <td> <%- event[i].start_date %></td>
                            <td> <%- event[i].end_date %></td>
                            <td> <%- event[i].address %></td>
                            <td> <%- event[i].pledge_number %></td>
                          </tr>
                        <% } %>  
                      <% }else { %>
                          <h1> Students Data not found! </h1>
                      <% } %>
                    </table> -->
                    <section class="wrapper">
                      <!-- Row title -->
                      <main class="head title">
                        <ul>
                      
                          <li>Name</li>
                          <li>Open Time</li>
                          <li> Start Date</li>
                          <li> End Date </li>
                          <li> Addres </li>
                          <li> Action </li>
                          
                        </ul>
                      </main>
                      <!-- rowa 1 - fadeIn -->
                      <% if(event.length > 0){ %>
                        <% for(var i = 0;i < event.length; i++){ %>
                          <article class="rowa nfl">
                            <ul>
                              
                              <li> <%- event[i].cname %></li>
                              <li> <%- event[i].open_time %></li>
                              <li> <%- start_date[i] %></li>
                              <li> <%- end_date[i] %></li>
                              <li> <%- event[i].address %></a></li>
                              <li><a href="#" onclick="deleteevent(this,'<%- event[i].cid %>')">Delete</a></li>

                            </ul>
                            <ul class="more-content">
                              <li>
                                <%- event[i].pledge_number %>
                              </li>
                            </ul>
                          </article>
                  
                        <% } %>  
                      <% }else { %>
                          <h3 style="text-align: center"> You haven't created an event yet </h3>
                      <% } %>
                    
                 <div id="response"></div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <div id="content_bank" class="col-xl-8" style="display: none">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">Event</h3>
                    </div>

               
                  </div>
                  <br />
                  <div id="requestevent"></div>
                </div>
                <div class="card-body">
                  <form onsubmit="return addEvent()">
                    <h6 class="heading-small text-muted">Event information</h6>

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-collection"
                            >
                              Open Time</label
                            >
                            <input
                              type="time"
                              class="form-control form-control-alternative"
                              name="opentime"
                              id="opentime"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-eventname"
                              >Event Name</label
                            >
                            <input
                              type="text"
                              id="eventname"
                              name="eventname"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
 
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-collection"
                            >
                             Start Date</label
                            >
                            <input
                              type="date"
                              id="startdate"
                              name="startdate"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                        
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-nameevent"
                              > Pledge Number</label
                            >
                            <input
                              type="text"
                              id="pledgenumber"
                              name="pledgenumber"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-collection"
                            >
                             End Date</label
                            >
                            <input
                              type="date"
                              id="enddate"
                              name="enddate"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-nameevent"
                              > Address</label
                            >
                            <input
                              type="text"
                              id="addrevent"
                              name="addrevent"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                    </div>

                    <!-- Address -->

                    <input
                      type="submit"
                      class="btn btn-sm btn-primary"
                      value="Submit"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
    </div>
  </body>

  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet" />

<link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

  <script language="javascript">
    document.getElementById("close").onclick = function () {
      document.getElementById("requestup").style.display = "none";
    };
    document.getElementById("open").onclick = function () {
      document.getElementById("requestup").style.display = "block";
    };
  </script>
  <script>
    setTimeout(function () {
      $("#requetu").fadeOut("fast");
    }, 5000); // <-- time in milliseconds
  </script>

  <script language="javascript">
   

    document.getElementById("btn2").onclick = function () {
      document.getElementById("content_bank").style.display = "none";
      document.getElementById("content").style.display = "block";
    };

  
    document.getElementById("btn4").onclick = function () {
      document.getElementById("content_bank").style.display = "block";
      document.getElementById("content").style.display = "none";
      
    };
  </script>
  <!-- req.send("iddonor="+iddonor+"&producttype"+producttype+"&bloddtype="+bloodtype+"&collection="+collection+"&volume="+volume+"&medical="+medical -->
  <!-- <script>
    function update() {
      var iddonorup = document.getElementById("iddonorup");
      var bloodtypeup = document.getElementById("bloodtypeup");
      var cancelup = document.getElementById("cancelup");
      var medicalup = document.getElementById("medicalup");

      var req = new XMLHttpRequest();

      req.open("POST", "/staff/update");
      req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      req.send(
        "iddonorup=" +
          iddonorup.value +
          "&bloodtypeup=" +
          bloodtypeup.value +
          "&cancelup=" +
          cancelup.value +
          "&medicalup=" +
          medicalup.value
      );

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          document.getElementById("requestup").innerHTML = req.responseText;

          document.querySelectorAll("#row").forEach(function (ele) {
            ele.remove();
          });
        }
      };
      return false;
    }
  </script> -->

  <script language="javascript">
    function deleteevent(obj, cid) {
        var req = new XMLHttpRequest();
        req.open("GET", "/campaign/delete-event?cid="+cid, true) ;
        req.send();
        
        req.onreadystatechange = function() {
          if(req.readyState == 4 && req.status == 200) {
         
            document.getElementById("requestmanager").innerHTML = req.responseText;
            obj.parentElement.parentElement.parentElement.remove ();

          }

    }
    return false;
}
  </script>
  <script language="javascript">
    function addEvent() {
      var eventname = document.getElementById("eventname");
      var opentime = document.getElementById("opentime");
      var startdate = document.getElementById("startdate");
      var enddate = document.getElementById("enddate");
      var addrevent = document.getElementById("addrevent");
      var pledgenumber = document.getElementById("pledgenumber");

      var req = new XMLHttpRequest();
      req.open("POST", "/campaign/event");
      req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      req.send(
        "eventname=" +
        eventname.value +
          "&opentime=" +
          opentime.value +
          "&startdate=" +
          startdate.value +
          "&enddate=" +
          enddate.value +
          "&addrevent=" +
          addrevent.value +
          "&pledgenumber=" +
          pledgenumber.value
      );

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          document.getElementById("requestevent").innerHTML = req.responseText;

          eventname.value = "";
          addrevent.value = "";
          pledgenumber.value = "";
          startdate.value = ""
          enddate.value = ""
          opentime.value = ""
        }
      };

      return false;
    }
  </script>

</html>
