<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styleall.css" />
    <link rel="stylesheet" href="../css/tableperson.css" />
    <link rel="stylesheet" href="../css/person.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--Add this-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <!--Add this-->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!--Add this-->

    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Bloodlife</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>
      <div class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Blood bank</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Nutrition</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Testimonials</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Enroll form</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Person</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Login</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <!-- Top navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- User -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <% if(info.length > 0){ %> <% for(var i = 0;i < info.length; i++){
                %>
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                      alt="Image placeholder"
                      src="/img/Userpic/profile_user<%- info[i].imgid %>.png"
                    />
                  </span>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm font-weight-bold"><%- info[i].name %></span>
                  </div>
                </div>
                <% } %>
          
                <% } %>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header -->

      <div
        class="header pb-8 pt-5 pt-lg-8 align-items-center"
        style="
          min-height: 600px;
          background-image: url(../img/blood.png);
          background-size: cover;
          background-position: center top;
        "
      >
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="">
          <% if(info.length > 0){ %> <% for(var i = 0;i < info.length; i++){
            %>
          <div class="container-fluid align-items-center">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <h1 class="display-2 text-white">Hello <%- info[i].name %></h1>
                <h6 class="text-white mt-0 mb-5">
                  This is your profile page. You can view your personal information and blood donation history and you can see if your blood has been ordered by the hospital
                </h6>
              </div>
            </div>
          </div>
          <% } %>
          
            <% } %>
          
        </div>
        <div class="container">
          <div class="main-body">

            <!-- /Breadcrumb -->
            <% if(info.length > 0){ %> <% for(var i = 0;i < info.length; i++){
              %>
             
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex flex-column align-items-center text-center"
                    >
                      <img
                        src="/img/Userpic/profile_user<%- info[i].imgid %>.png"
                        alt="Admin"
                        class="rounded-circle"
                        width="150"
                      />
                      <div class="mt-3">
                        <br />
                        <br />
                        <h4>&nbsp;&nbsp;&nbsp;<%- info[i].name %></h4>
                        <br />
                      
                        <a href="/donor/information/avatar" class="btn btn-primary">Change Avatar</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cards mt-3">
                  <ul class="list-group list-group-flush" >
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                    >
                      <h6 >Total Volume :</h6><div id="table"><span id="tr"><%- info[i].total_volume %></span></div><a href="" ></a>
                    </li>
                  </ul>
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                    >
                      <h6>Blood type :<span style="margin-left:5rem"></span></h6><div id="table"><span id="tr"><%- info[i].blood_type %></span></div><a href="" ></a>
                    </li>
                  </ul>
                </div>
              </div>
            
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary"><%- info[i].name %></td>
                       </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Gender</h6>
                      </div>
                      <div class="col-sm-9 text-secondary"> 
                        <%- info[i].gender %>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Birdays</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">  <%- info[i].birthday %>
                       </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%- info[i].email %>
                       </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary"> <%- info[i].phone %></div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">SSN</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%- info[i].ssn %>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        
                        <%- info[i].address %>
                        
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Medical Record</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%- info[i].med_cond %></div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-6">
                        <a class="btn btn-info"  href="/donor/information/update"
                          >Edit</a
                        >
                      </div>
                      <div class="col-sm-6">
                        <a class="btn btn-info" id="showhis" href="#" onclick="return showDonate(this,'<%- info[i].did %>')"
                          >Donate History</a

                        >
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="container" id="tableshow"style="display: none" >
                
                  <ul class="responsive-table"id="ul">
                    <li class="table-header" >
                      <div class="col col-1">ID</div>
                      <div class="col col-2">Product Type</div>
                      <div class="col col-3">Date Donate</div>
                      <div class="col col-4">Volume</div>
                      <div class="col col-5">Status</div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="return hiden()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </li>
                   
             
                  </ul>
                </div>
              </div>
              
            </div>
            <% } %> <% }else { %>
              < <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div
                        class="d-flex flex-column align-items-center text-center"
                      >
                        <img
                          src="/img/Userpic/profile_user.png"
                          alt="Admin"
                          class="rounded-circle"
                          width="150"
                        />
                        <div class="mt-3">
                          <h4>undefined</h4>
                          <br />
                          <br />
                          <br />
                          <a href="/donor/information/avatar" class="btn btn-primary">Change Avatar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                      >
                        <h6>Total Volume :</h6>
                      </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                      >
                        <h6>Blood type :<span style="margin-left:5rem">undefined</span></h6>
                      </li>
                    </ul>
                  </div>
                </div>
              
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">undefined</td>
                         </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9 text-secondary"> 
                          undefined
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Birdays</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">  undefined
                         </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          undefined
                         </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary"> undefined</div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">SSN</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          undefined
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          
                          undefined
                          
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Medical Record</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          undefined</div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-6">
                          <a class="btn btn-info"  href="/donor/information/update"
                            >Edit</a
                          >
                        </div>
                        <div class="col-sm-6">
                          <a class="btn btn-info" id="showhis" href="#" 
                            >Donate History</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="container" id="tableshow"style="display: none" >
                  
                    <ul class="responsive-table"id="ul">
                      <li class="table-header" >
                        <div class="col col-1">ID</div>
                        <div class="col col-2">Product Type</div>
                        <div class="col col-3">Date Donate</div>
                        <div class="col col-4">Volume</div>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="return hiden()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                     
               
                    </ul>
                  </div>
                </div>
                
              </div>
              <% } %>
            
          </div>
        </div>
      </div>
      <!-- Page content -->
    </div>
    
  </body>

  <script>
    function  hiden() {
      document.querySelectorAll("#li").forEach(function (ele) {
        ele.remove();
      });
      document.getElementById("tableshow").style.display = "none";
    
    }
  </script>
  <script>
    //Lấy các button mô tả nội dung
    var acc = document.getElementsByClassName("accordion");
    var i;
    //lặp qua các button để gán sự kiện
    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {
        /* Thêm/xóa class active để đánh dấu các button đã được click */
        this.classList.toggle("active");

        /* Hiển thị hoặc ẩn nội dung khi button được click */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      };
    }
  </script>

  <script>
    function showDonate() {
     
        document.getElementById("tableshow").style.display = "block";
     
      document.querySelectorAll("#li").forEach(function (ele) {
        ele.remove();
      });
      var ul = document.getElementById("ul");
      var req = new XMLHttpRequest();
    

      req.open("GET", "/donor/showdonate");
      req.send();

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          var obj = JSON.parse(req.responseText);

          if (obj.length > 0) {
            for (let i = 0; i < obj.length; i++) {
            
              ul.innerHTML += " <li class='table-row' id='li'><div class='col col-1' data-label='Job Id'>"+(i+1)+"</div><div class='col col-2' data-label='Customer Name'>"+obj[i]['product_type']+"</div><div class='col col-3' data-label='Amount'>"+obj[i]['input_date']+"</div><div class='col col-4' data-label='Payment Status'>"+obj[i]['volume']+"</div><div class='col col-5' data-label='Payment Status'>"+obj[i]['is_ordered']+"</div></li>";
            

            
            }
          } else {
            ul.innerHTML +=
              "<div id='msg'class='alert alert-warning alert-dismissible ' role='alert'> <strong>You have not donate Yet</strong></div>";
          }
        }
      };
      return false;
    }
  </script>

</html>
